body {
    font-family: Roboto;
}

button {
    background-color:#3882f6;
    color: #eeeeee;
}

.header {
    background-color: #1f2937;
    display:flex;
    color: #eeeeee;
}

.hero {
    background-color: #1f2937;
    color:#eeeeee;
    display: flex;
    padding: 48px;
    gap:20px;
    flex-direction: row;
    align-items: center;
}

.infoBlurbs {
    
}


.quote {
    background-color: #e5e7eb;
    text-size: 36 px;
    color: #1f2937;
    text-weight: 900;
}

.callToAct {

}

.footer {
    
}