body {
    font-family: Roboto;

}

.header {
    background-color: #1f2937;
}

.sectionOne {
    
}

.sectionTwo {
    
}


.quote {
    background-color: #e5e7eb;
    text-size: 36 px;
    color: #1f2937;
    text-weight: 900;
}

.callToAct {
    
}

.footer {
    
}